* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1{
  font-family: 'Playfair Display', serif;
}

header {
  background-image: url("../img/BTS1.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px;
  color: white;
  text-align: center;
  position:relative;
}

header p{
font-family: "Playfair Display", serif;
font-style: italic;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6A0DAD;
}

.navbar a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
  background-color: #B185DB;
  color: white;
}

.container {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #7B4CBF;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}
.side h2{
  text-align:center;
  color:white;
  margin-bottom:20px;
  font-size:22px;
}
.side2 {
  flex: 30%;
    background: linear-gradient(135deg, #7B4CBF 0%, #5f3a94 100%);
    padding: 25px 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

.side2 h3{
  text-align:center;
  color:white;
  margin-bottom:20px;
  font-size:22px;
}

.side2 ul{
  background: rgba(255,255,255,0.15);
  line-height: 1.6;
  padding:12px 15px;
  border-radius:8px;
  color:white;
  font-size:14px;
}

.side2 h3{
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight:600;
}

.side p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 15px; 
}

.main {
  flex: 70%;
  background-color: #E0C3FC;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.main2 {
  flex: 70%;
  background-color: #E0C3FC;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.main p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 15px; 
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;

}

.albums{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.album{
background:white;
padding:15px;
width:220px;
border-radius:10px;
text-decoration:none;
color:black;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
transition:transform 0.3s;
}

.album:hover{
transform:scale(1.05);
}

.album img{
width:100%;
border-radius:8px;
}

.album ul{
padding-left:20px;
font-size:14px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px 0;
}
.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}

.tarjetas{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.formcontainer{
max-width:500px;
margin:40px auto;
background:#d093f5;
padding:30px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

input, textarea{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
}

button{
background:#6A0DAD;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
font-size:15px;
}

button:hover{
background:#4B0082;
}

footer {
  padding: 10px;
  text-align: center;
  background: #B185DB;
  color: white;
  font-family: "Playfair Display", serif;
  font-style: regular;
}

@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}

